       #main-content .middle-content .droplist-accordion button {
           border-style: none;
           width: 100%;
           border-radius: 0px;
           text-align: left;
           background-color: #FFF;
           height: 50px;
           color: #0099cc;
           padding-left: 20px;
       }
       
       #main-content .middle-content .droplist-accordion button:focus {
           outline: none;
       }
       
       #main-content .middle-content .droplist-accordion button span {
           float: right;
       }
       
       #main-content .middle-content .droplist-accordion .panel {
           margin-top: 0px;
           margin-bottom: 0px;
           border: 1px solid #e6e6e6;
       }
       
       #main-content .middle-content .droplist-accordion .collapse-content {
           background-color: #f2f2f2;
           color: #0099cc;
           font-size: 13px;
       }
       
       #main-content .middle-content .droplist-accordion .collapse-content img {
           width: 100%;
       }
       
       #main-content .middle-content .droplist-accordion .collapse-content a {
           text-decoration: none;
       }
       
       #main-content .middle-content .droplist-accordion .collapse-content span {
           color: #ffcc00;
           font-size: 13px;
       }
       
       #main-content .middle-content .droplist-accordion .collapse-content a:hover {
           color: #007399;
       }
       
       #main-content .middle-content .droplist-accordion ul li {
           display: inline;
       }
       
       #main-content .middle-content .droplist-accordion ul li a {
           width: 100%;
       }
       
       #main-content .middle-content .droplist-accordion .destinations-images {
           width: 100%;
           height: auto;
       }
       
       #main-content .middle-content .hot-tour-lst {
           padding: 5px;
           padding-right: 15px;
       }
       
       #main-content .middle-content .hot-tour-lst .panel .tour-short-detail {
           padding-bottom: 15px;
       }
       
       #main-content .middle-content .hot-tour-best {
           padding: 5px;
           padding-right: 15px;
       }
       
       #main-content .middle-content .hot-tour-best .hot-items {
           background-color: white;
           border: 1px solid #e6e6e6;
       }
       
       #main-content .middle-content .hot-tour-best .hot-items a {
           width: 100%;
           text-decoration: none;
       }
       
       #main-content .middle-content .hot-tour-best .hot-items .hot-items-details {
           color: #000;
       }
       
       #main-content .middle-content .hot-tour-best .hot-items .hot-items-details .top-contents {
           color: #999999;
       }
       
       #main-content .middle-content .hot-tour-best .hot-items .hot-items-details .bot-contents {
           color: #404040;
       }
       
       #main-content .middle-content .hot-tour-best .hot-items .hot-items-details h5 {
           color: #0099cc;
           font-weight: bold;
       }
       
       #main-content .middle-content .hot-tour-best .hot-items a img {
           width: 100%;
       }
       
       #main-content .middle-content .hot-tour-best .hot-items a div {
           width: 100%;
           padding: 5px;
       }
       
       #main-content .middle-content .hot-tour-best .top-destinations .top-destinations-bottom {
           background-color: white;
           border: 1px solid #e6e6e6;
       }
       
       #main-content .middle-content .hot-tour-best .top-destinations .top-destinations-bottom a {
           color: #0099cc;
           font-weight: bold;
           text-decoration: none;
       }
       
       #main-content .middle-content .hot-tour-best .top-destinations .top-destinations-bottom p {
           color: #999999;
       }
       
       #main-content .middle-content .hot-tour-best .top-destinations .top-destinations-bottom span {
           color: #ffcc00;
           font-size: 13px;
       }
       
       #main-content .middle-content .hot-tour-best .top-destinations .top-destinations-bottom .money {
           color: #00ff00;
           font-size: 13px;
           font-weight: bold;
       }
       
       #main-content .middle-content .hot-tour-best .news-grids .news-grids-bottom {
           background-color: white;
           border: 1px solid #e6e6e6;
           padding: 5px;
           padding-left: 20px;
       }
       
       #main-content. middle-content .hot-tour-best .news-grids .news-grids-bottom .date-text {
           margin-top: 10px;
       }
       
       #main-content .middle-content .hot-tour-best .news-grids .news-grids-bottom .date-text a {
           color: #0099cc;
           font-weight: bold;
           text-decoration: none;
           margin-top: 10px;
       }
       
       #main-content .middle-content .hot-tour-best .news-grids .news-grids-bottom .date-text p {
           color: #999999;
           margin-top: 5px;
       }
       
       #main-content .middle-content .hot-tour-lst #why .choose-grids {
           background-color: white;
           border: 1px solid #e6e6e6;
           padding: 5px;
           padding-left: 20px;
       }
       
       #main-content .middle-content .hot-tour-lst #why .choose-grids .choose-grids-info .logo {
           color: #00ff00;
           align-content: center;
           font-size: 16px;
           font-weight: bold;
           text-align: center;
       }
       
       #main-content .middle-content .hot-tour-lst #why .choose-grids .choose-grids-info .usd-icon {
           color: #fff;
           align-content: center;
           font-size: 30px;
           font-weight: bold;
           text-align: center;
           border-radius: 50%;
           padding: 2px;
           height: 45px;
           width: 45px;
           background: #00ff00;
           margin-left: 10px;
       }
       
       #main-content .middle-content .hot-tour-lst #why .choose-grids .choose-grids-info .logo h4 {
           width: 100%;
           font-size: 15px;
           font-weight: normal;
           color: #999999;
       }
       
       #main-content .middle-content .hot-tour-lst #why .choose-grids .choose-grids-info .logo h5 {
           width: 100%;
           font-size: 25px;
           font-weight: bold;
       }
       
       #main-content .middle-content .hot-tour-lst #why .choose-grids .choose-grids-info .logo-icon {
           width: 100%;
           height: 100%;
           font-size: 45px;
           font-weight: bold;
           padding: 10px;
       }
       
       #main-content {
           margin: 0px;
       }