#reset-password {
    background: linear-gradient(white, #D3D8E8);
    vertical-align: bottom;
    padding-bottom: 0px;
}

#reset-password #input-information-form .form-horizontal {
    border: 1px solid #d9d9d9;
    padding: 10px 50px;
    border-radius: 4px;
    background-color: white;
}

#reset-password #input-information-form #btnSend {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
    background-color: rgba(51, 204, 51, .9);
    border-style: none;
}

#reset-password #input-information-form #btnSend:hover {
    background-color: rgb(70, 144, 179);
}

@media only screen and (min-width:769px) {
    #reset-password #input-information-form {
        position: relative;
        height: 460px;
        min-height: 460px;
        max-height: 460px;
        padding-top: 80px;
    }
}

@media only screen and (max-width:768px) {
    #head.secondary #title-large {
        display: none;
    }
    #reset-password #input-information-form {
        position: relative;
        height: 230px;
        min-height: 230px;
        max-height: 230px;
        padding-top: 40px;
    }
}

@media only screen and (min-width:769px) {
    #head.secondary {
        height: 140px;
        min-height: 140px;
        background: rgb(70, 144, 179);
        text-align: left;
        color: white;
        font-weight: 300;
        vertical-align: middle;
        padding-top: 30px;
        font-size: 50px;
    }
    #head.secondary.courses-banner {
        height: 210px;
        min-height: 210px;
        background: rgb(70, 144, 179);
        text-align: left;
        color: white;
        font-weight: 300;
        vertical-align: middle;
        padding-top: 30px;
        font-size: 50px;
    }
    #head.secondary.courses-banner .row {
        align-items: center;
        height: 100%;
    }
    #head.secondary.courses-banner .col-md-8 {
        background-color: rgba(51, 51, 51, .4);
        height: 100%;
        padding: 15px;
        border-radius: 10px;
    }
    #head.secondary.courses-banner .col-md-8 .form-group {
        height: 100%;
    }
}

@media only screen and (max-width:768px) {
    #head.secondary {
        height: 90px;
        min-height: 90px;
        background: rgb(70, 144, 179);
        text-align: left;
        color: white;
        font-weight: 100;
        vertical-align: middle;
        padding-top: 0px;
        font-size: 20px;
    }
    #head.secondary.courses-banner {
        height: 110px;
        min-height: 110px;
        max-height: 110px;
        background: rgb(70, 144, 179);
        text-align: left;
        color: white;
        font-weight: 100;
        vertical-align: middle;
        padding-top: 0px;
        font-size: 20px;
    }
    #head.secondary.courses-banner .row {
        align-items: center;
        height: 100%;
    }
    #head.secondary.courses-banner .col-md-8 {
        background-color: rgba(51, 51, 51, .2);
        height: 100%;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #head.secondary.courses-banner .col-md-8 .form-group {
        height: 100%;
    }
    #head.secondary.courses-banner .col-md-8 .header-title-h1 {
        font-size: 14px;
    }
    #head.secondary.courses-banner .col-md-8 .form-group .form-control {
        font-size: 10px;
    }
    #head.secondary.courses-detail h1 {
        height: 50px;
        min-height: 50px;
        max-height: 50px;
        background: rgb(70, 144, 179);
        text-align: left;
        color: white;
        font-weight: 100;
        vertical-align: middle;
        padding-top: 0px;
        font-size: 18px;
    }
}

#footer {
    border-top: 1px solid #e5e5e5;
    background: rgb(70, 144, 179);
}

#footer .social {
    margin: 20px 0;
}

#footer .social a {
    font-size: 32px;
    margin: 0 10px;
    color: #8c8c8c;
}

#footer .social a:hover {
    color: #0b9ff3;
}

#footer .footer2 {
    background: rgb(70, 144, 179);
    padding: 15px 0;
    color: #fff;
    font-size: 12px;
}

#footer .footer2 a {
    color: #fff;
}

#footer .footer2 a:hover {
    color: #fff;
}

#footer .footer2 p {
    margin: 0;
}

#footer .footer2 a {
    padding: 4px 8px;
}

#footer .panel {
    margin-bottom: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#footer .panel-body {
    padding: 0px;
}