#news-body .im-centered {
    margin: auto;
    max-width: 300px;
}

@media only screen and (min-width:769px) {
    #top-banner .top-content {
        margin: 0px;
        padding-top: 20px;
        height: 250px;
        background-image: url(../../../assets/images/banner7.jpg);
        opacity: 0.2;
        background-size: 100%;
    }
    #top-banner {
        position: relative;
    }
    #top-banner .container {
        position: absolute;
        top: 10px;
        left: 70px;
    }
}

@media only screen and (max-width:768px) {
    #top-banner .top-content {
        margin: 0px;
        padding-top: 5px;
        height: 150px;
        background-image: url(../../../assets/images/banner7.jpg);
        opacity: 0.5;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #top-banner {
        position: relative;
    }
    #top-banner .container {
        position: absolute;
        top: 0px;
        left: 8px;
    }
    #top-banner .container h1 {
        font-size: 20px;
    }
}

#news-body .sales-list .sales-item {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 30px 0px;
}

#news-body .sales-list .sales-item .sales-img img {
    width: 100%;
    max-height: 150px;
}

#news-body .sales-list .sales-item .sales-content a {
    text-decoration: none;
}

#news-body .sales-list .sales-item .sales-content .title {
    font-size: 20px;
    color: rgba(51, 122, 183, .8);
    font-weight: bold;
}

#news-body .sales-list .sales-item .sales-content .title:hover,
#news-body .sales-list .sales-item .sales-content .title:focus {
    color: rgba(51, 122, 183, 1);
}

#news-body .sales-list .sales-item .sales-content .date {
    font-size: 12px;
    color: rgb(51, 51, 51);
    font-style: italic;
}

#news-body .sales-list .sales-item .sales-content .content {
    font-size: 14px;
    color: rgb(119, 119, 119);
}

#news-body .sales-list .sales-item .sales-content .tags {
    font-size: 14px;
    color: rgb(51, 51, 51);
}

#news-body .sales-list .sales-item .sales-content .tags span {
    font-size: 14px;
    color: rgb(51, 122, 183);
    padding-right: 5px;
    cursor: pointer;
}