 @media only screen and (min-width:769px) {
     #about-content .main-content .main-content-img {
         width: 300px;
         min-width: 250px;
     }
 }
 
 @media only screen and (max-width:768px) {
     #about-content .main-content .main-content-img {
         width: 100%;
         height: auto;
         min-width: 250px;
     }
 }
 
 #about-content .main-content p {
     color: rgba(51, 51, 51, .9);
     font-size: 14px;
 }
 
 #about-content .main-content h3 {
     color: #000;
     font-size: 25px;
     font-weight: bold;
 }
 
 #about-content .main-content strong {
     color: #000;
     font-size: 16px;
     font-weight: bold;
 }
 
 #about-content .sidebar-right a {
     font-size: 16px;
 }
 
 #about-content .teacher-overview p {
     color: rgba(51, 51, 51, .9);
     font-size: 14px;
 }
 
 #about-content .teacher-overview h3 {
     color: #000;
     font-size: 25px;
     font-weight: bold;
 }
 
 #about-content .team-member {
     padding-top: 5px;
     margin-bottom: 15px;
     color: rgba(51, 51, 51, .9);
 }
 
 #about-content .team-member .member-img img {
     border-radius: 182px;
     border: 1px solid rgb(218, 218, 218);
     vertical-align: middle;
 }
 
 #about-content .team-member .member-img .img-responsive {
     display: block;
     max-width: 100%;
     height: auto;
 }
 
 #about-content .team-member h4 {
     font-size: 19px;
     line-height: 32px;
     padding: 10px 0 0;
     text-align: center;
     margin: 0px;
 }
 
 #about-content .team-member .pos {
     display: block;
     margin: 0;
     text-align: center;
 }
 
 #about-content .team-member .team-socials {
     margin: 15px 0;
     display: block;
     text-align: center;
 }
 
 #about-content .team-member .team-socials a {
     color: #428bca;
     text-decoration: none;
 }
 
 #about-content .team-member .team-socials i {
     width: 35px;
     height: 35px;
     position: relative;
     display: inline-block;
     text-align: center;
     font-size: 18px;
     color: #C7C7C7;
 }
 
 #about-content .team-member .team-socials i:hover {
     color: rgba(11, 159, 243, .9);
 }