@media only screen and (min-width: 769px) {
    #courses {
        width: 100%;
        max-width: 100%;
    }
    #courses .container .row {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    #courses .col-md-4 {
        position: relative;
        padding: 20px;
    }
    #courses .featured-box {
        border: 1px solid #d9d9d9;
        background-color: rgba(230, 230, 230, .9);
        padding: 10px;
        position: relative;
    }
    #courses .featured-box .courses-direct-link a {
        text-decoration: none;
        color: rgba(11, 159, 243, .9);
        font-size: 20px;
        font-weight: bold;
    }
    #courses .featured-box .text-right a {
        text-decoration: none;
        color: rgba(11, 159, 243, .9);
        font-size: 20px;
        font-weight: bold;
    }
    #courses .featured-box .text-right a:hover {
        color: rgba(51, 204, 51, .9);
    }
    #courses .featured-box .courses-direct-link a:hover {
        color: rgba(51, 204, 51, .9);
    }
    #courses .featured-box i {
        position: absolute;
        display: inline-block;
        color: #0b9ff3;
        border: solid 2px #0b9ff3;
        background: #fff;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        margin: 0px;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        top: 30px;
    }
    #courses .featured-box .text {
        padding-left: 80px;
        padding-top: 0px;
        margin-top: 0px;
        display: block;
    }
    #courses .featured-box .text p {
        font-size: 16px;
    }
}

@media only screen and (max-width:768px) {
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    #courses .container .row {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    #courses .col-md-4 {
        position: relative;
        padding: 10px;
        width: 100%;
    }
    #courses .featured-box {
        border: 1px solid #d9d9d9;
        background-color: rgba(230, 230, 230, .9);
        padding: 10px;
    }
    #courses .featured-box .courses-direct-link a {
        text-decoration: none;
        color: rgba(11, 159, 243, .9);
        font-size: 16px;
        font-weight: bold;
        margin-top: 0px;
    }
    #courses .featured-box .text-right a {
        text-decoration: none;
        color: rgba(11, 159, 243, .9);
        font-size: 16px;
        font-weight: bold;
    }
    #courses .featured-box .text-right a:hover {
        color: rgba(51, 204, 51, .9);
    }
    #courses .featured-box .courses-direct-link a:hover {
        color: rgba(51, 204, 51, .9);
    }
    #courses .featured-box i {
        position: absolute;
        display: inline-block;
        color: #0b9ff3;
        border: solid 2px #0b9ff3;
        background: #fff;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        margin: 0px;
        text-align: center;
        line-height: 30px;
        top: 40px;
        font-size: 20px;
    }
    #courses .featured-box .text {
        padding-left: 40px;
        padding-top: 0px;
        margin-top: 0px;
        display: block;
    }
    #courses .featured-box .text p {
        font-size: 12px;
    }
    #courses .row {
        width: 100%;
    }
}