@media only screen and (min-width: 769px) {
    #courses-list-content {
        width: 100%;
        max-width: 100%;
    }
    #courses-list-content .container .row {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    #courses-list-content .col-md-6.item-left {
        padding: 40px 0px;
        padding-right: 20px;
        padding-top: 0px;
    }
    #courses-list-content .col-md-6.item-right {
        padding: 40px 0px;
        padding-left: 20px;
        padding-top: 0px;
    }
    #courses-list-content .col-md-4 {
        position: relative;
        padding-bottom: 20px;
        padding-right: 0px;
        padding-left: 20px;
    }
    #courses-list-content .featured-box {
        border: 1px solid #d9d9d9;
        background-color: rgba(230, 230, 230, .9);
        padding: 10px;
        position: relative;
    }
    #courses-list-content .featured-box .courses-direct-link a {
        text-decoration: none;
        color: rgba(11, 159, 243, .9);
        font-size: 20px;
        font-weight: bold;
    }
    #courses .featured-box .text-right a {
        text-decoration: none;
        color: rgba(11, 159, 243, .9);
        font-size: 20px;
        font-weight: bold;
    }
    #courses-list-content .featured-box .text-right a:hover {
        color: rgba(51, 204, 51, .9);
    }
    #courses-list-content .featured-box .courses-direct-link a:hover {
        color: rgba(51, 204, 51, .9);
    }
    #courses-list-content .featured-box i {
        position: absolute;
        display: inline-block;
        color: #0b9ff3;
        border: solid 2px #0b9ff3;
        background: #fff;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        margin: 0px;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        top: 30px;
    }
    #courses-list-content .featured-box .text {
        padding-left: 80px;
        padding-top: 0px;
        margin-top: 0px;
        display: block;
    }
    #courses-list-content .featured-box .text p {
        font-size: 16px;
    }
}

@media only screen and (max-width:768px) {
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    #courses-list-content .container .row {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    #courses-list-content .col-md-6 {
        position: relative;
        padding: 0px;
        padding-bottom: 20px;
        width: 100%;
    }
    #courses-list-content .col-md-4 {
        position: relative;
        padding: 0px;
        padding-bottom: 20px;
        width: 100%;
    }
    #courses-list-content .featured-box {
        border: 1px solid #d9d9d9;
        background-color: rgba(230, 230, 230, .9);
        padding: 10px;
    }
    #courses-list-content .featured-box .courses-direct-link a {
        text-decoration: none;
        color: rgba(11, 159, 243, .9);
        font-size: 16px;
        font-weight: bold;
        margin-top: 0px;
    }
    #courses-list-content .featured-box .text-right a {
        text-decoration: none;
        color: rgba(11, 159, 243, .9);
        font-size: 16px;
        font-weight: bold;
    }
    #courses-list-content .featured-box .text-right a:hover {
        color: rgba(51, 204, 51, .9);
    }
    #courses-list-content .featured-box .courses-direct-link a:hover {
        color: rgba(51, 204, 51, .9);
    }
    #courses-list-content .featured-box i {
        position: absolute;
        display: inline-block;
        color: #0b9ff3;
        border: solid 2px #0b9ff3;
        background: #fff;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        margin: 0px;
        text-align: center;
        line-height: 30px;
        top: 40px;
        font-size: 20px;
    }
    #courses-list-content .featured-box .text {
        padding-left: 40px;
        padding-top: 0px;
        margin-top: 0px;
        display: block;
    }
    #courses-list-content .featured-box .text p {
        font-size: 12px;
    }
    #courses-list-content .row {
        width: 100%;
    }
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#courses-list-content #courses-list-page-links {
    align-items: center;
    align-content: center;
    text-align: center;
    display: table;
    margin: 0 auto;
}