 #create-new-account .form-control {
     border-radius: 4px;
 }
 
 #create-new-account {
     background: linear-gradient(white, #D3D8E8);
     vertical-align: bottom;
     padding-bottom: 0px;
 }
 
 #create-new-account #img-student-responsive {
     position: relative;
     height: 460px;
     min-height: 460px;
     max-height: 460px;
     opacity: 0.4;
 }
 
 #create-new-account #img-student-responsive img {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 500px;
     height: 450px;
 }
 
 #create-new-account #input-information-form #btnCreate {
     padding: 8px 12px;
     font-size: 14px;
     font-weight: normal;
     background-color: rgba(51, 204, 51, .9);
     border-style: none;
 }
 
 #create-new-account #input-information-form #btnCreate:hover {
     background-color: rgb(70, 144, 179);
 }
 
 #create-new-account #input-information-form #btnCreate:hover {
     background-color: rgb(70, 144, 179);
 }
 
 @media only screen and (max-width:768px) {
     #create-new-account #img-student-responsive {
         display: none;
     }
     #head.secondary #title-large {
         display: none;
     }
 }
 
 #create-new-account #input-information-form #selectbasic {
     width: 100%;
 }
 
 #create-new-account #input-information-form #selectbasic option {
     width: 100%;
 }