#reset-password {
    background: linear-gradient(white, #D3D8E8);
    vertical-align: bottom;
    padding-bottom: 0px;
}

#reset-password #input-information-form .form-horizontal {
    border: 1px solid #d9d9d9;
    padding: 10px 50px;
    border-radius: 4px;
    background-color: white;
}

#reset-password #input-information-form #btnSend {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
    background-color: rgba(51, 204, 51, .9);
    border-style: none;
}

#reset-password #input-information-form #btnSend:hover {
    background-color: rgb(70, 144, 179);
}

@media only screen and (min-width:769px) {
    #reset-password #input-information-form {
        position: relative;
        height: 460px;
        min-height: 460px;
        max-height: 460px;
        padding-top: 80px;
    }
}

@media only screen and (max-width:768px) {
    #head.secondary #title-large {
        display: none;
    }
    #reset-password #input-information-form {
        position: relative;
        height: 230px;
        min-height: 230px;
        max-height: 230px;
        padding-top: 40px;
    }
}